*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 5000px;
}

/************************** Responsive Breakpoints ************************/

/* Medium devices (tablets, less than 992px) */
// @media (max-width: 992px) {
//     .button_container{
//         width: 50%;
//     }
// }


// /* Small devices (landscape phones, less than 767px) */
// @media (max-width: 767.8px) {
//     .button_container{
//         width: 50%;
//     }
// }  

// /* Extra small devices (portrait phones, less than 576px) */
// @media (max-width: 576px) {
//     .button_container{
//         width: 100%;
//     }

// }

.container{
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    
    h1{
        margin: 2em 0;
    }

    .buttons_area{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .button_container{
            position: relative;
            width: 32%;
            height: 15em;
            margin-bottom: 3em;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 10px 9px 5px 0px rgba(0,0,0,0.25);

            .btn_num{
                position: absolute;
                font-size: 1.7em;
                padding: 0.8rem;
                color: #FFF;
                background-color: #03a9f4;
                top: 0;
                left: 50%;
                transform: translate(-50%,-50%);
                box-shadow: 5px 5px 2px 0px rgba(112, 211, 255, .45)
            }

            .btn{
                position: relative;
                font-size: 2rem;
                display: inline-block;
                padding: 1rem 2rem;
                text-decoration: none;
                color: #FFF;
                letter-spacing: 2px;
            }
        }

        .button_container-1{
            background-color: #1f242d;
            
            .button-1{
                z-index: 1;

                &::before{
                    content: '';
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #03a9f4;
                    z-index: -1;
                    transform-origin: bottom right;
                    transform: scale(0);
                    transition: transform 0.3s;
                }

                &:hover::before{
                    transform: scale(1);
                    transform-origin: top left;
                }

                &::after{
                    content: '';
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 2px solid #FFF;
                    transform-origin: top left;
                    transform: scale(1);
                    transition: transform 0.3s;
                }

                &:hover::after{
                    transform: scale(0);
                    transform-origin: bottom right;
                }
            }
        }

        .button_container-2{
            background-color: #1f242d;;
            
            .button-2{
                color: rgba(255,255,255,0.45);
                background-color: #262c37;
                letter-spacing: 2px;
                transition: 0.5s;
                overflow: hidden;
                
                &:hover{
                    color: rgba(255,255,255,1);
                }
                
                span{
                    display: block;
                    position: absolute;
                    background-color: #2894ff;  
                }

                
                span:nth-child(1){
                    left: 0;
                    bottom: 0;
                    width: 1px;
                    height: 100%;
                    transform: scaleY(0);
                    transform-origin: top;
                    transition: transform 0.3s
                }
                
                &:hover span:nth-child(1){
                    transform: scaleY(1);
                    transform-origin: bottom;
                }
                
                
                span:nth-child(2){
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.3s
                }
                
                &:hover span:nth-child(2){
                    transform: scaleX(1);
                    transform-origin: left;
                }
                
                
                span:nth-child(3){
                    right: 0;
                    bottom: 0;
                    width: 1px;
                    height: 100%;
                    transform: scaleY(0);
                    transform-origin: top;
                    transition: transform 0.3s;
                    transition: transform 0.3s;
                    transition-delay: .3s;
                }
                
                &:hover span:nth-child(3){
                    transform: scaleY(1);
                    transform-origin: bottom;
                    transition: transform 0.3s;
                    transition-delay: .3s;
                }
                
                
                span:nth-child(4){
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 1px;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.3s;
                    transition-delay: .3s;
                }
                
                &:hover span:nth-child(4){
                    transform: scaleX(1);
                    transform-origin: left;
                    transition: transform 0.3s;
                    transition-delay: .3s;
                }
            }
        }

        .button_container-3{
            background-color: #0c002b;
            
            .button-3{
                color: #1670f0;
                box-shadow: 0 20px 50px rgb(0,0,0 / 50%);
                overflow: hidden;
                &::before{
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    bottom: 2px;
                    width: 50%;
                    height: 100%;
                    background-color: rgba(255,255,255,0.05);
                    z-index: -1;
                }
                span{
                    position: absolute;
                
                    &:nth-child(1){
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: linear-gradient(to right, #0c002b, #1779ff);
                        animation: btn3_animat_1 1s linear infinite;
                    }

                    &:nth-child(2){
                        top: 0;
                        right: 0;
                        width: 2px;
                        height: 100%;
                        background: linear-gradient(to bottom, #0c002b, #1779ff);
                        animation: btn3_animat_2 1s linear infinite;
                        animation-delay: 0.5s;
                    }

                    &:nth-child(3){
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 2px;
                        background: linear-gradient(to left, #0c002b, #1779ff);
                        animation: btn3_animat_3 1s linear infinite;
                    }

                    &:nth-child(4){
                        bottom: 0;
                        left: 0;
                        width: 2px;
                        height: 100%;
                        background: linear-gradient(to top, #0c002b, #1779ff);
                        animation: btn3_animat_4 1s linear infinite;
                        animation-delay: 0.5s;
                    }
                }
            }
        }

        .button_container-4{
            background-color: #0c0c0c;
            
            .button-4{
                display: block;
                color: #1670f0;
                box-shadow: 0 20px 50px rgb(0,0,0 / 50%);
                overflow: hidden;
                
                span{
                    position: relative;
                    z-index: 1;
                    color: #FFF;
                }

                .liquid{
                    position: absolute;
                    left: 0;
                    top: -5px;
                    width: 100%;
                    height: 250%;
                    background-color: #4973ff;
                    box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
                    transition: 0.5s;
                    

                    &::before,
                    &::after{
                        content: '';
                        position: absolute;
                        width: 225px;
                        height: 200px;
                        top: 0;
                        left: 50%;
                        transform: translate(-50%,-75%);
                    }
                    
                    &::before{
                        border-radius: 45%;
                        background-color: rgba(20,20,20,1);
                        animation: btn4_animate 5s linear infinite;
                    }
                    
                    &::after{
                        border-radius: 40%;
                        background-color: rgba(20,20,20,0.5);
                        animation: btn4_animate 10s linear infinite;
                    }
                }
                &:hover .liquid{
                    top: -100px;
                }
                
            }
        }

        .button_container-5{
            background-color: #031321;
            
            .button-5{
                color: #2169f3;
                box-shadow: 0 20px 50px rgb(0,0,0 / 50%);
                overflow: hidden;
                transition: 0.2s;
                &:hover{
                    color: #255784;
                    background: #2196f3;
                    box-shadow: 0 0 10px #2196f3,
                                0 0 40px #2196f3,
                                0 0 80px #2169f3;
                }
            }
        }

        .button_container-6{
            background-color: #031321;
            
            .button-6{
                color: #FFF;
                background: linear-gradient(90deg,#03a9f4, #f441a5, #ffed3b, #03a9f4);
                background-size: 400%;
                border-radius: 30px;
                transition: 0.3s;
                z-index: 1;

                &::before{
                    content: '';
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    right: -5px;
                    bottom: -5px;
                    z-index: -1;
                    background: linear-gradient(90deg,#03a9f4, #f441a5, #ffed3b, #03a9f4);
                    background-color: #f441a5;
                    background-size: 400%;
                    border-radius: 40px;
                    filter: blur(20px);
                    transition: 0.3s;
                }

                &:hover{
                    animation: bnt_6_animate 8s linear infinite;
                }

                &:hover::before{
                    animation: bnt_6_animate 8s linear infinite;
                }
            }
        }
    }
}

@keyframes btn3_animat_1 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

@keyframes btn3_animat_2 {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

@keyframes btn3_animat_3 {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes btn3_animat_4 {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}


@keyframes btn4_animate {
    0%{
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100%{
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

@keyframes bnt_6_animate {
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 400%;
    }
}